<div class="row" id="dashboard-row">
  <%= render  "messages/index" %>
  <div class="col-md-8 order-md-1">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="sign-in-tab" data-toggle="tab" href="#sign-in" role="tab" aria-controls="sign-in"
          aria-selected="true">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="sign-out-tab" data-toggle="tab" href="#sign-out" role="tab" aria-controls="sign-out"
          aria-selected="false">Sign Up</a>
      </li>
    </ul>
    <%= render  "devise/registrations/new" %>
      <div class="tab-pane fade" id="sign-out" role="tabpanel" aria-labelledby="sign-out-tab">
        <form class="needs-validation" novalidate="">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="sign-up-email">Email</span></label>
              <input type="email" class="form-control" id="sign-up-email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>
        
            <div class="col-md-6 mb-3">
              <label for="sign-up-password">Password</span></label>
              <input type="password" class="form-control" id="sign-up-password">
              <div class="invalid-feedback">
                Please enter your password
              </div>
            </div>
          </div>
          
          
          <button class="btn btn-info btn-lg btn-block" type="submit">
            <i class="fas fa-user-plus"></i>
            Sign Up
          </button>
          <hr class="mb-4">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="username">Instagram user</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input type="text" class="form-control" id="instagram" placeholder="just your instagram" required="">
                <div class="invalid-feedback" style="width: 100%;">
                  Your instagram is required.
                </div>
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="username">Instagram user</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input type="text" class="form-control" id="instagram" placeholder="forgot by instagram" required="">
                <div class="invalid-feedback" style="width: 100%;">
                  Your instagram is required.
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-info btn-lg btn-block" type="submit">
            <i class="fas fa-user-plus"></i>
            Sign Up
          </button>
        </form>
      </div>
    </div>
    
    
  </div>
</div>